Package: freetype
Version: 2.13.3
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x64-windows-static
Multi-Arch: same
Abi: a365212f6f70967515e7e56edf7045b82ad2d1fc88df92bcd8771ab20563b14e
Description: A library to render fonts.
Default-Features: brotli, bzip2, png, zlib

Package: freetype
Feature: brotli
Depends: brotli
Architecture: x64-windows-static
Multi-Arch: same
Description: Support decompression of WOFF2 streams

Package: freetype
Feature: bzip2
Depends: bzip2
Architecture: x64-windows-static
Multi-Arch: same
Description: Support bzip2 compressed fonts.

Package: freetype
Feature: png
Depends: libpng
Architecture: x64-windows-static
Multi-Arch: same
Description: Support PNG compressed OpenType embedded bitmaps.

Package: freetype
Feature: zlib
Depends: zlib
Architecture: x64-windows-static
Multi-Arch: same
Description: Use zlib instead of internal library for DEFLATE
